<template name="wordCloud">

  <div class="wordcloud col-sm-12">
    <svg id ="wordCloud" width = 100% height = 100% ></svg>  
  </div>
  <!-- {{renderCloud}} -->
</template>

<template name = "cloudInputs">
  <div class='row'> 
    <div class ='col-sm-6'>
      <form class="new-sad">
          <input type="text" name="text" placeholder="what makes you sad?" />
      </form>
    </div>
    <div class ='col-sm-6'>
      <form class="new-happy pull-right">
          <input type="text" name="text" placeholder="what makes you happy?" />
      </form>
    </div>
  </div>  
</template>